.exercise-header {
    margin: unset;
    background-color: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1em;
}

.dropdown-button {
    margin: 0;
    background-color: unset;
    padding: 0;
    font-size: 3em;
}

.exercise-body {
    margin: 0 1em;
    padding: 0 0.5em;
    border-left: 1px solid var(--primary-color);
}

.note {
    margin-top: 0;
}

.max-weight {
    margin-bottom: 1em;
}

.sets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
