<button class="exercise-header" (click)="openCloseExercise()">
  <h3>{{ exercise.name }}</h3>
  <div class="dropdown-button">{{ open ? "&triangle;" : "&triangledown;" }}</div>
</button>
@if (open) {
<section class="exercise-body">
  <p class="note">{{ exercise.note }}</p>
  <div class="max-weight">
    MAX WEIGHT: <span>{{ exercise.maxWeight }} kg</span>
  </div>
  @for (set of exercise.sets; track $index) {
  <div class="sets">
    <div style="width: 75px;">SET {{ set.number }}{{ set.repeat > 1 ? "x" + set.repeat : ""}}</div>
    <div style="width: 42px;">{{ set.ratio }}%</div>
    <div style="width: 75px;">{{ ((set.ratio / 100) * exercise.maxWeight) | number:'1.0-0' }} kg</div>
    <div style="width: 85px;">REPS: {{ set.reps }}</div>
  </div>
  } @empty {
  <p>No sets</p>
  }
</section>
}
