ul {
    /* overflow: scroll;
    height: 540px; */
    list-style: none;
    padding: 0;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

li {
    display: flex;
    gap: 1em;
    align-items: center;
}

h3 {
    margin: 0;
}

img {
    border-radius: 64px;
    object-fit: contain;
    width: 64px;
    height: 64px;
}

@media screen and (min-width: 720px) {
    /* ul {
        overflow: auto;
        height: fit-content;
    } */
}
