#header-desktop {
  display: none;
}

#header-mobile {
  position: sticky;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 720px) {
  #header-desktop {
    display: block;
  }

  #header-mobile {
    display: none;
  }
}
