:root {
  --primary-color: #f1c40f;
  --secondary-color: #b7950b;
  --tertiary-color: #b7950b;
  --background-color: #1a1a1a;
  --text-color: #FFD700;
  --font-size: 1rem;
  --padding: 0.75em;
  --border-radius: 6px;
  --border: 1px solid var(--primary-color);
  --box-shadow-color: rgba(241, 196, 15, 0.25);
  --bold: 800;
  --desktop: 720px;
}

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

app-root {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited {
  color: unset;
}

button {
  margin-top: 2em;
  font-size: var(--font-size);
  font-weight: var(--bold);
  padding: var(--padding);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:disabled {
  pointer-events: none;
  opacity: 60%;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button:active {
  background-color: var(--tertiary-color); /* Darker gold on click */
  transform: translateY(0);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: var(--padding);
  margin: 3em auto;
  max-width: 400px;
  border-radius: var(--border-radius);
}

label {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);
  font-weight: var(--bold);
}

input {
  font-size: var(--font-size);
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--background-color);
  transition: border-color 0.3s, box-shadow 0.3s;
  color: var(--text-color);
}

input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 3px var(--box-shadow-color);
  outline: none;
}

hr {
  border-color: black;
}




@media screen and (min-width: 720px) {

}
