<h1>LOG</h1>
<div id="search">
  <label>
    Search
    <input type="search" [(ngModel)]="searchQuery" (keyup.enter)="searchText()">
  </label>
  <label>
    Date
    <input type="date" (input)="searchDate($event)">
  </label>
</div>
<section id="workouts">
  @if (workouts.length !== filteredWorkouts.length) {
  @for (workout of filteredWorkouts; track $index) {
  <app-workout-button [workout]="workout"></app-workout-button>
  } @empty {
  <button routerLink="/log/create" id="empty-cta">
    <p>CREATE A NEW WORKOUT!</p>
  </button>
  }
  } @else {
    @for (month of months; track $index) {
      <app-month [month]="month" [workouts]="getWorkoutsForMonth(month.month)"></app-month>
    }
  }
</section>
<button id="floating-action-button" routerLink="/log/create">
  +
</button>
