#workouts {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em;
  padding-bottom: 5em;
}

#search {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

#search input[type="search"] {
  width: 100%;
}

#search input[type="date"] {
  width: 64px;
}

#floating-action-button {
  padding: 1em;
  width: 2em;
  height: 2em;
  border: 2px solid var(--background-color);
  border-radius: 100%;
  position: fixed;
  bottom: 1em;
  right: 1em;
  font-size: 2em;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#empty-cta {
  background-color: unset;
  margin: unset;
  border: 2px dashed var(--primary-color);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  opacity: 0.5;
}

#empty-cta:hover {
  opacity: 1;
}

@media screen and (min-width: 720px) {
  #workouts {
    overflow-y: auto;
    height: fit-content;
    padding-bottom: 5em;
  }

  #search input[type="search"] {
    width: 500px;
  }

  #search input[type="date"] {
    width: 128px;
  }

  #floating-action-button {
    position: fixed;
    bottom: 1em;
  }
}
