<div class="modal" *ngIf="isVisible && exercise">
  <h2>Create Exercise</h2>
  <form>
    <label>
      Name:
      <input type="text" [(ngModel)]="exercise.name" [ngModelOptions]="{standalone: true}">
    </label>
    <label>
      Note:
      <input type="text" [(ngModel)]="exercise.note" [ngModelOptions]="{standalone: true}">
    </label>
    <label>
      Max Weight:
      <input type="number" [(ngModel)]="exercise.maxWeight" [ngModelOptions]="{standalone: true}">
    </label>
  </form>
  <section>
    <button (click)="addSet()">Add Set +</button>
  @for (set of exercise.sets; track $index) {
    <form>
      Set {{ set.number }}:
      <label>
        Percentage:
        <input type="number" [(ngModel)]="set.ratio" [ngModelOptions]="{standalone: true}">
      </label>
      <label>
        Reps:
        <input type="number" [(ngModel)]="set.reps" [ngModelOptions]="{standalone: true}">
      </label>
    </form>
  } @empty {
    <p>Add a set!</p>
  }
  </section>
  <button (click)="createExercise()">&checkmark; {{ isEdit ? "Edit" : "Create" }} &check;</button>
  <button (click)="hideModal()">&times; Cancel &times;</button>
</div>
