<section>
    <div class="exercise-header">
        @if (focused) {
        <div>
            <label>
                Name:
                <input type="text" [(ngModel)]="exercise.name" [ngModelOptions]="{standalone: true}">
            </label>
        </div>
        } @else {
        <p (click)="openExercise()" class="exercise-name">{{ exercise.name }}</p>
        }
        <p (click)="focused ? closeExercise() : openExercise()">
            {{ focused ? "&uparrow;" : "&downarrow;" }}
        </p>
    </div>
    @if (focused) {
    <div class="exercise-body">
        <label>
            Note
            <input type="text" [(ngModel)]="exercise.note" [ngModelOptions]="{standalone: true}" placeholder="Note...">
        </label>
        <div class="exercise-weight">
            <label>Max Weight:</label>
            <input type="number" [(ngModel)]="exercise.maxWeight" [ngModelOptions]="{standalone: true}">
            <div class="unit-buttons">
                <button>
                    kg
                </button>
                <button>
                    lb
                </button>
            </div>
        </div>
        <div>
            <div class="sets-header">
                <h3>SETS</h3>
                <button (click)="addEmptySet()">+</button>
            </div>
            <div class="sets-body">
                @for (set of exercise.sets; track $index) {
                <app-create-set [set]="set" (delete)="deleteSet($index)"></app-create-set>
                }
            </div>
        </div>
    </div>
    }
</section>
