button {
    margin: unset;
    background-color: unset;
    border: unset;
}

.exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.exercise-name {
    width: 100%;
}

.exercise-header button {
    margin-top: auto;
    font-size: 3em;
    padding: 0;
}

.exercise-body {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.exercise-weight {
    display: flex;
    width: 100%;
}

.exercise-weight label {
    width: 64px;
}

.exercise-weight input {
    width: 64px;
    margin-left: 1em;
}

.unit-buttons {
    display: flex;
    /* gap: 0.1em; */
    margin-left: auto;
}

.unit-buttons button {
    margin: unset;
    width: 48px;
    height: 48px;
}

.sets-header {
    display: flex;
    align-items: center;
}

.sets-header h3 {
    margin: 0;
}

.sets-body {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.remove-button {
    background-color: var(--primary-color);
    width: 220px;
    margin: auto;
}

.remove-button:hover {
    background-color: var(--secondary-color);
}

.import-button {
    margin-left: auto;
    background-color: var(--primary-color);
}

.import-button:hover {
    color: var(--background-color);
}
