<section>
    <div class="exercise-header">
        @if (focused) {
        <div>
            <label>
                Name:
                <input type="text" [(ngModel)]="exercise.name" name="name" #name="ngModel" required
                    placeholder="Exercise Name...">
            </label>
            <div *ngIf="name.invalid && name.touched">
                <small>Name is required.</small>
            </div>
        </div>
        } @else {
        <p (click)="openExercise()" class="exercise-name">{{ exercise.name? exercise.name : "New Exercise" }}</p>
        }
        <button (click)="focused ? closeExercise() : openExercise()">
            {{ focused ? "&triangle;" : "&triangledown;" }}
        </button>
    </div>
    @if (focused) {
    <div class="exercise-body">
        <label>
            Note
            <input type="text" [(ngModel)]="exercise.note" [ngModelOptions]="{standalone: true}" placeholder="Note...">
        </label>
        <div class="exercise-weight">
            <label>Max Weight:</label>
            <input type="number" min="0" [(ngModel)]="exercise.maxWeight" [ngModelOptions]="{standalone: true}">
            <div class="unit-buttons">
                <!-- <button>
                    kg
                </button>
                <button>
                    lb
                </button> -->
            </div>
        </div>
        <div>
            <div class="sets-header">
                <h3>SETS</h3>
                <button (click)="addEmptySet()">+</button>
            </div>
            <div class="sets-body">
                @for (set of exercise.sets; track $index) {
                <app-create-set [set]="set" (delete)="deleteSet($index)"></app-create-set>
                }
            </div>
        </div>
        <button class="remove-button" (click)="openDeleteModal()">- REMOVE EXERCISE</button>
    </div>
    }
</section>
@if (confirmDelete) {
<app-confirm-modal title="Delete Exercise?" (confirm)="deleteExercise()" (deny)="closeDeleteModal()">
    <p>Are you sure you want to delete this exercise?</p>
</app-confirm-modal>
}
