nav {
  padding: 0em 1em;
  border-top: 1px solid var(--secondary-color);
  font-size: x-large;
  background-color: var(--primary-color);
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
