.modal-confirm {
  background-color: #4CAF50;
}

.modal-deny {
  background-color: #F44336;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-buttons button {
  margin: 0;
  color: var(--background-color);
}

.modal-buttons button:hover {
  color: var(--primary-color);
}
