button {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

time {
    margin-left: auto;
}

p {
    margin: 0;
}

.arrow {
    font-size: 3em;
    line-height: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding: 0.2em 0.5em;
    background-color: var(--secondary-color);
    border-radius: 0 0 8px 8px;
}
