<div id="profile-container-desktop" #profileContainer>
    <button id="profile-button" (click)="openCloseProfile()">
        <img id="profile-img" [src]="getUser()?.avatarUrl" alt="Avatar">
    </button>
    @if (open) {
    <nav>
        <p>Hello, {{ getUser()?.name }}!</p>
        <hr>
        <ul>
            <li><a #link routerLink="/profile">PROFILE</a></li>
            <li><a #link routerLink="/signout">SIGN OUT</a></li>
        </ul>
    </nav>
    }
</div>
<div id="profile-container-mobile">
    <a id="profile-button" routerLink="/profile">
        <img id="profile-img" [src]="getUser()?.avatarUrl" alt="Avatar" width="32px" height="32px">
    </a>
</div>
